body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(10, 10, 10);
    background: url(bg4.png);
}

.title{
    display: block;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.container{
    margin: 30px auto;
    background-color: rgba(32, 32, 32, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 500px;
    width: 400px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.29);
}

.top-bar{
    display: flex;
}

.sign-button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 2.6;
    cursor: pointer;
    transition: background-color .5s linear;
}

.sign-button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.left{
    border-right: 2px solid rgba(32, 32, 32, 0.8);
}

.right{
    border-left: 2px solid rgba(32, 32, 32, 0.8);
}

.input{
    border: none;
    background-color: rgb(15, 15, 15);
    display: block;
    color: white;
    width: 90%;
    border-radius: 5px;
    padding: 20px 10px;;
    margin: 20px auto;
}

.input:focus{
    outline: none;
}

.sign-container{
    margin-top: 50px;
}

.submit-button{
    display: block;
    margin: 20px auto;
    border: none;
    width: 60%;
    background-color: rgb(0, 111, 202);
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .3s linear;
    text-align: center;
}

.submit-button:hover, .logout-button:hover{
    background-color: rgb(0, 140, 255);
}

.submit-button:focus{
    outline: none;
}

#up_container{	
    display: none;
}

.error{
    text-align: center;
    color: red;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
    color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 2.2;
}

.logout-button{
    position: relative;
    right: 30px;
    top: 5px;
    float: right;
    border: none;
    background-color: rgb(0, 111, 202);
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s linear;
    text-align: center;
    margin-left: 20px;

}

.new-button{
    background-color: rgb(143, 0, 0);
}

.new-button:hover{
    background-color: rgb(207, 23, 23);
}

.ref-button{
    background-color: rgb(0, 143, 24);
}

.ref-button:hover{
    background-color: rgb(23, 207, 48);
}

.projects-container{
    border-radius: 5px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px;
    display: block;
    font-size: 20px;
    line-height: 2.2;
    width: 80%;
}

.project-title{
    text-align: center;
}

.project-desc{
    text-align: center;
}

.progress{
    display: block;
    margin: 0 auto;
}

.progress-caption{
    position: relative;
    top: 120px;
}

.project-goals{
    display: grid;
    grid-template-columns: auto auto;
}

.project-working, .project-completed{
    text-align: center;
    margin-top: 20px;
}

.goal{
    margin: 0 auto;
    background-color: rgba(184, 184, 184, 0.1);

    border-radius: 6px;
    width: 60%;
    color: white;
}

.goal-title{
    cursor: pointer;
    color: rgb(165, 165, 165);
}

.goal-title:hover{
    color: #92C8B1;
}

.date{
    color: rgb(61, 61, 61);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.goal-body{
    font-size: 16px;
    background-color: rgba(24, 24, 24, 0.582);
    display: none;
}

.fa-close{
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 60px;
    right: 10px;
    font-size: 30px;
    line-height: 0.7;
    color: rgb(172, 16, 16);
}

.fa-close:hover{
    color: rgb(214, 30, 30);
}

.project-close{
    bottom: 0px;
}

.fa-check{
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 60px;
    right: 10px;
    font-size: 30px;
    line-height: 0.7;
    color: rgb(16, 172, 42);
}

.fa-check:hover{
    color: rgb(30, 214, 61);
}

.fa-plus{
    display: inline-block;
    position: relative;
    left: 30px;
    top: 5px;
    cursor: pointer;
    font-size: 30px;
    line-height: 0.7;
    color: rgb(16, 71, 172);
}

.fa-plus:hover{
    color: rgb(30, 110, 214);
}

.reminders-text{
    color: rgb(61, 61, 61);
}

.reminders{
    background-color: rgba(92, 92, 92, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.219);
    margin-bottom: 4px;
    padding: 5px;
    text-align: left;
}

.reminder-close{
    bottom: 0;
    top: 7px;
    float: right;
}

.reminder-name{
    display: inline-block;
    width: 80%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    color: white;
    background-color: #00000062;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.226);
    width: 50%;
}

.modal-title{
    text-align: center;
    display: block;
}

.close {
    color: #a80000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 4, 4);
    text-decoration: none;
    cursor: pointer;
}

.add-reminder{
    float: left;
    position: relative;
    top: 10px;
    border-radius: 8px;

}


.notification{
    clear: both;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 1100px) {
    .project-goals{
        grid-template-columns: 100%;
    }

    .goal{
        width: 100%;
    }

    .modal-content{
        width: 90%;
    }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


